@model Categoria

@{
    ViewData["Title"] = "Editar Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<br />
<br />
<form method="post" asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Categoria_Id" />

    <div class="mb-3">
        <label asp-for="Nombre" for="NombreCategoria" class="form-label">Nombre de la Categoria</label>
        <input asp-for="Nombre" type="text" class="form-control" id="NombreCategoria">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Inactivo" class="form-label">Inactivo</label>
        <input asp-for="Activo" type="radio" value="false" id="Inactivo">
        <label for="Activo" class="form-label">Activo</label>
        <input asp-for="Activo" type="radio" value="true" id="Activo">
        <span asp-validation-for="Activo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary me-4">Submit</button>
    <a asp-action="Index" class="btn btn-secondary">Volver a Lista</a>

</form>