@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-controller="Categorias" asp-action="IndexWhereTime" class="btn btn-primary">Index Where Time</a>
    <a asp-controller="Categorias" asp-action="IndexWhereName" class="btn btn-primary">Index Where Name</a>
    <a asp-controller="Categorias" asp-action="IndexGroupByActivo" class="btn btn-primary">Index Group By Activo</a>
    <a asp-controller="Categorias" asp-action="IndexSkipTake" class="btn btn-primary">Index Skip Take</a>
    <a asp-controller="Categorias" asp-action="IndexFromSqlRaw" class="btn btn-primary">Index From Sql Raw</a>
    <a asp-controller="Categorias" asp-action="IndexFromSqlRawInterpolation" class="btn btn-primary">Index From Sql Raw Interpolation</a>
</div>
